html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    background-color: white;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: white;
    background-color: black;
}
.btn-outline-success {
    color: brown;
    border-color: brown;
}
.navbar-brand img{
    width: 100%;
    max-width: 150px;
}
.navbar-nav li {
    padding-right: 2.0rem;
}

.navbar-nav li a{
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.container-fluid {
    padding-bottom: 20px;
}
.goup {
    position: fixed;
    color: black;
    width: 60px;
    height: 40px;
    padding: 7px 0 0 7px;
    z-index: 99999;
}
.goup a {
    text-decoration: none;
    color: black;
}
.goup a:hover {
    background-color: black;
    color: white;
}
.card-pistol img{
    width: 230px;
    padding-left: 30px;
}
.card-deck {
    padding-bottom: 20px;
}
.card-sniper {
    height: 400px;
}
.sale-background {
   margin-bottom: 20px;
}
.card-img-overlay h3 {
    text-align: center;
}
.card-img-overlay h4 {
    font-size: 60px;
    color: white;
    text-align: center;
}
.sale-background p{
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.sale-background-span{
    text-decoration: line-through;
}
.background-image {
    background-image: url(../pictures/footer-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
}
.footer-card {
    background: none;
    border: none;
}
.card-bottom {
    background: none;
    border: none;
    font-weight: 700;
}
.form-group label {
    color:white;
    font-weight: 700;
}
.footer-contacts {
    color: white;
}
.fa {
    font-size: 30px;
    color: rgb(24, 181, 192);
    padding: 0 6px;
}
.Online-Shopping {
    background: none;
    border: none;
}
.Online-Shopping img{
    width: 50px;
    padding: 10px 5px;
}